---
layout: markdown_page
title: "Frontend Monitor Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Mission

The Monitor team works on the frontend part of GitLab for the [Monitor stage].

For more details about the vision for this area of the product, see the [Monitor
stage] page.

[Monitor stage]: /stages-devops-lifecycle/monitor/

### Team members

<%= direct_team(role_regexp: /[,&] Monitor/, manager_role: 'Interim Frontend Engineering Manager, Distribution, Monitor & Packaging') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Monitor/, direct_manager_role: 'Interim Frontend Engineering Manager, Distribution, Monitor & Packaging') %>

## Useful links

* [Monitor frontend board] - this shows work in the current release
* [#g_monitor] in Slack

[Monitor frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/815216

[#g_monitor]: https://gitlab.slack.com/archives/g_monitor
